<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="dark">
  <!--<img src="assets/img/OLA.png" class="imglogo">
  <img src="assets/img/water.png" class="fondo">  
  <div class="content">-->
  <audio id="music" src="http://server8.emitironline.com:18868/" type="audio/mp3" controls autoplay></audio>
  <ion-icon name="play-circle-sharp" class="iconPlay"></ion-icon>
  <ion-icon name="pause-circle-sharp" class="iconPause"></ion-icon>
</ion-content>